.product {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  margin: 5px;

  span {
    margin: 4px 0;
  }

  .img {
    object-fit: cover;
  }

  .name {
    font-size: 18px;
    font-weight: 600;
  }

  .description {
    opacity: 0.75;
  }

  .price {
    font-weight: 600;
  }
}
