.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}

.reviews-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-column-gap: 20px;
}
